﻿@model WebApplication7.Eksemplar

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


<table>
    <tr>
        <td>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()



                <div class="form-horizontal">
                    <h4>Eksemplar</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Nr)

                    <p>Raamatu number on: @Html.DisplayFor(model => model.RaamatNr)</p>
                    <div class="form-group">
                        @Html.LabelFor(model => model.RaamatNr, "RaamatNr", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("RaamatNr", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.RaamatNr, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Nimetus, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Nimetus, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Nimetus, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.Autor, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Autor, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Autor, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Riiul, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Riiul, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Riiul, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </div>

            }
        </td>
        <td>....</td>
        <td>
            <table>
                @foreach (Raamat raamat in ViewBag.Raamatud)
                {
                    <tr>
                        <td>@raamat.Nr</td>
                        <td>@raamat.Nimetus</td>
                        <td>@raamat.Autor</td>
                    </tr>
                }
            </table>
        </td>
    </tr>
</table>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
