﻿@model WebApplication7.Eksemplar

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Eksemplar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Riiul)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Riiul)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Raamat.Nimetus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Raamat.Nimetus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Nr }) |
    @Html.ActionLink("Back to List", "Index")
</p>
