﻿@model IEnumerable<WebApplication7.Eksemplar>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Riiul)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Raamat.Nimetus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Riiul)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Raamat.Nimetus)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Nr }) |
            @Html.ActionLink("Details", "Details", new { id=item.Nr }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Nr })
        </td>
    </tr>
}

</table>
