﻿@model WebApplication7.Raamat

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Raamat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nimetus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nimetus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Autor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Autor)
        </dd>

        <table>
            <tr>
                <th>Nr</th>
                <th>Riiul</th>
            </tr>
            @foreach(var eksemplar in Model.Eksemplar)
            {
                <tr>
                    <td>@eksemplar.Nr</td>
                    <td>@eksemplar.Riiul</td>
                </tr>
            }
        </table>
        
        @Html.ActionLink("Lisa eksemplar", $"Create/{Model.Nr}", "Eksemplar")


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Nr }) |
    @Html.ActionLink("Back to List", "Index")
</p>
