﻿@model IEnumerable<WebApplication7.Raamat>
@using WebApplication7.Models;
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nimetus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Autor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hind)
        </th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nimetus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Autor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hind)
        </td>
       <td>
            @Html.DisplayFor(modelItem => item.Eksemplar.Count)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Nr }) |
            @Html.ActionLink("Details", "Details", new { id = item.Nr }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Nr }) |
            @Html.ActionLink("Osta", "Osta", new { id = item.Nr })
        </td>
    </tr>
}

    

</table>
<h2>Ostukorvis on</h2>
<table>
    @foreach (OstukorviRida or in ViewBag.Ostukorv.Values)
    {
        <tr>
            <td>
                @or.Raamat.Nimetus
            </td>
            <td>@or.Mitu</td>
            
            <td>|</td>
            <td>@Html.ActionLink("Eemalda", "Maha", new { id = or.RaamatNr })</td>
        </tr>
    }
    
</table>


@{

    IEnumerable<OstukorviRida> korv = ViewBag.Ostukorv.Values;
    var summa = korv.Select(x => x.Raamat.Hind * x.Mitu).Sum();
    <p>Ostukorvi summa: @summa</p>
}